:root {
  --SecondaryColor: #90b3c2;
  --PrimaryColorAlt: 	#bcd1da;
  --PrimaryColor: #a6c2ce;
  --SecondaryColorAlt: #d3e1e7;
  --AccentColor: #e9f0f3;
  max-width: none;
}
body {
  background-color: var(--SecondaryColorAlt);
  margin: 0;
  left: 0;
  width: 100%;
  color: black
}


