.Navbar {
    align-items: left;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--SecondaryColor);
    width: 100%;
}
.websiteHeader {
    color: var(--AccentColor);
    margin-left: 10%;
}
.Navbar-Left {
    justify-content: left;
}
.Navbar-Right {
    justify-content: right;
}

