
    .Navitem {
        margin: 0 .22rem;
        cursor: pointer;
        display: inline-block;
        text-decoration: none;
        color: Var(--AccentColor);
        padding: 7%;
        background-color: Var(--PrimaryColor);

    }
    .Navitem:hover {
        background-color: var(--PrimaryColorAlt);
        color: white;
        text-decoration: underline;
    }
    
    .NavItem:link {
        color: black;
        text-decoration: none;
    }
    .Navitem:active {
        background-color: aliceblue;
    }